<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/default-head :: head"></head>

<body>
    <nav th:replace="layouts/menu :: menu"></nav>

    <div class="container">
        <h2 class="my-3">Dashboard</h2>

        <form th:action="@{/searchId}" method="get">
            <div class="input-group my-3" style="width: 250px;">
                <input type="text" th:name="search" class="form-control mr-1" placeholder="Search With Defect ID">
                <button type="submit" class="btn btn-secondary bi bi-search"></button>
            </div>
        </form>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <th>
                    Defect ID
                    <a th:href="@{/sortByDefectId}" class="btn btn-secondary btn-sm">
                        <span class="bi bi-caret-down-fill"></span>
                    </a>
                </th>
                <th>Description</th>
                <th>Assigned To</th>
                <th>Project</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr th:each="tempDefect : ${defectList}">
                    <td th:text="${tempDefect.bugId}" />
                    <td th:text="${tempDefect.description}" />
                    <td th:text="${tempDefect.assignedTo}" />
                    <td th:text="${tempDefect.project}" />
                    <td th:text="${tempDefect.status}" />
                    <td>
                        <a th:href="@{/updateDefect/{id}(id=${tempDefect.id})}" class="btn btn-success">Update</a>
                        <a sec:authorize="hasRole('MANAGER')" th:href="@{/removeDefect/{id}(id=${tempDefect.id})}"
                            class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="layouts/default-script :: script"></div>
</body>

</html>